doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
  include ./navbar.jade
table(style='width:45%')
  tr
    th(align="left") №
    th Name
    th(align="right") Quantity
    th(align="right") Total
  each item in data.cart
      tr(id="row-#{item.id}")
        td #{item.number}
        td #{item.name}
        td(align="right") #{item.quantity}
        td(align="right") $#{item.price}
        td
            button(onclick="location.href = 'remove/cart/#{item.id}';") remove
  tr 
    td Total: 
    td
    td
    td(align="right", id="total", style="font-weight:bold") $#{data.total}
    td
      form.form(method='post')
        input#buy(type='submit', name='buybtn', value='Buy')

script.
  //make link with black bg
  $('#nav-sc').addClass('page');
    function remove(id, total){
        $.post('/remove', {id: id});
        $('#row-' + id).remove();
        $('#total').text('$'+(Number($('#total').text().substr(1)) - total));
    }
    