doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")

  body
    block content
  include ./navbar.jade
table(style='width:45%')
  tr
    th(align="left") №
    th Name
    th(align="right") Quantity
    th(align="right") Total
  each item in data.cart
      tr(id="row-#{item.id}")
        td #{item.number}
        td #{item.name}
        td(align="right") #{item.quantity}
        td(align="right") $#{item.price * item.quantity}
        td
            button(onclick="remove('#{item.id}', #{item.price * item.quantity})") remove
  tr 
    td Total: 
    td#total $#{data.total}
    td
    td
    td
        button(onclick="buyProducts('#{data.cart}')") buy

script.
    function remove(id, total){
        $.post('/remove', {id: id});
        $('#row-' + id).remove();
        $('#total').text('$'+(Number($('#total').text().substr(1)) - total));
    }

    function buyProducts(cart){
        $.post('/buy', {cart: cart});
    }