doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
  include ./navbar.jade
table(style='width:45%')
  tr
    th(align="left") №
    th(align="left") User
    th(align="left") Address
    th(align="left") State
    th(align="right") Date
  each item in data.purchases
      tr
        td #{item.number}
        td #{item.first_name}
        td #{item.address}
        td(align="left") #{item.state}
        td(align="right") #{item.date}
        td
            button(onclick="location.href = 'check/#{item.id}';") see

script.
  //make link with black bg
  $('#nav-pur').addClass('page');