doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
  include ./backofficenav.jade
div
  table(style='width:60%' id="maint")
    tr
      th(width="10%" style="text-align:center")  Date
      th(width="15%" style="text-align:center")  User
      th(width="15%" style="text-align:center")  Address
      th(width="15%" style="text-align:center")  State
      th(width="15%" style="text-align:center")  Total
      th(width="7%")
    each item in data.purchases
        tr
          td(style="text-align:center")  #{item.date}
          td(style="text-align:left")  #{item.first_name + " " + item.last_name}
          td(style="text-align:left")  #{item.address}
          td(style="text-align:center")  #{item.state}
          td(style="text-align:center")  #{item.tot}
          td(style="text-align:center") 
              button(onclick="location.href = 'check/#{item.id}';") see

script.
  //make link with black bg
  $('#nav-pur').addClass('page');