doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(type='text/javascript' src="/js/jquery.min.js")
    style.
      a {
        color: white;
      }
  body
    block content
  include ./backofficenav.jade
ul(id='submenu')
  li
    a(id='submenu-all' href='#' onclick="changeDisplayedData(1)") Show All Purchases
  li
    a(id='submenu-daytot' href='#' onclick="changeDisplayedData(2)") Everyday Total
  li
    a(id='submenu-await' href='#' onclick="changeDisplayedData(3)") Show All Awaiting Delivery
  li
    a(id='submenu-being' href='#' onclick="changeDisplayedData(4)") Show All Being Delivered
  li
    a(id='submenu-del' href='#' onclick="changeDisplayedData(5)") Show All Delivered
  li(class="search-container")
    form(method='post')
      input(type='textbox', placeholder='Search purchases by name', name='name')
      input(type='submit', value='Search')
  
div
  table(style='width:60%; display:block' id="maint" class='allpurch')
    tr
      th(width="10%" style="text-align:center")
        a(href="/check/s/1/1/#{data.word}")  Date
      th(width="15%" style="text-align:center")  
        a(href="/check/s/2/1/#{data.word}")  User
      th(width="15%" style="text-align:center")  
        a(href="/check/s/3/1/#{data.word}")  Address
      th(width="15%" style="text-align:center")  
        a(href="/check/s/4/1/#{data.word}")  State
      th(width="15%" style="text-align:center")  
        a(href="/check/s/5/1/#{data.word}")  Total
      th(width="7%")
    each item in data.purchases
        tr
          td(style="text-align:center")  #{item.date}
          td(style="text-align:left")  #{item.first_name + " " + item.last_name}
          td(style="text-align:left")  #{item.address}
          td(style="text-align:center")  #{item.state}
          td(style="text-align:right")  $#{item.tot}
          td(style="text-align:center") 
              button(onclick="location.href = '/check/#{item.id}';") see

  table(style='width:60%; display:none' id="maint" class='evrdtot')
    tr
      th(width="10%" style="text-align:center")  Date
      th(width="15%" style="text-align:center")  
      th(width="15%" style="text-align:center")  
      th(width="15%" style="text-align:center")  Total
    each total in data.totals
        tr
          td(style="text-align:center")  #{total.date}
          td(style="text-align:left")
          td(style="text-align:left")
          td(style="text-align:right")  $#{total.totalfortheday}

  table(style='width:60%; display:none' id="maint" class='await')
    tr
      th(width="10%" style="text-align:center") 
        a(href="/check/s/1/3/#{data.word}")  Date
      th(width="15%" style="text-align:center")  
        a(href="/check/s/2/3/#{data.word}")  User
      th(width="15%" style="text-align:center")  
        a(href="/check/s/3/3/#{data.word}")  Address
      th(width="15%" style="text-align:center")  
        a(href="/check/s/4/3/#{data.word}")  State
      th(width="15%" style="text-align:center")  
        a(href="/check/s/5/3/#{data.word}")  Total
      th(width="7%")
    each item in data.await
        tr
          td(style="text-align:center")  #{item.date}
          td(style="text-align:left")  #{item.first_name + " " + item.last_name}
          td(style="text-align:left")  #{item.address}
          td(style="text-align:center")  #{item.state}
          td(style="text-align:right")  $#{item.tot}
          td(style="text-align:center") 
              button(onclick="location.href = '/check/#{item.id}';") see

  table(style='width:60%; display:none' id="maint" class='being')
    tr
      th(width="10%" style="text-align:center") 
        a(href="/check/s/1/4/#{data.word}")  Date
      th(width="15%" style="text-align:center")  
        a(href="/check/s/2/4/#{data.word}")  User
      th(width="15%" style="text-align:center")  
        a(href="/check/s/3/4/#{data.word}")  Address
      th(width="15%" style="text-align:center")  
        a(href="/check/s/4/4/#{data.word}")  State
      th(width="15%" style="text-align:center")  
        a(href="/check/s/5/4/#{data.word}")  Total
      th(width="7%")
    each item in data.being
        tr
          td(style="text-align:center")  #{item.date}
          td(style="text-align:left")  #{item.first_name + " " + item.last_name}
          td(style="text-align:left")  #{item.address}
          td(style="text-align:center")  #{item.state}
          td(style="text-align:right")  $#{item.tot}
          td(style="text-align:center") 
              button(onclick="location.href = '/check/#{item.id}';") see

  table(style='width:60%; display:none' id="maint" class='del')
    tr
      th(width="10%" style="text-align:center") 
        a(href="/check/s/1/5/#{data.word}")  Date
      th(width="15%" style="text-align:center")  
        a(href="/check/s/2/5/#{data.word}")  User
      th(width="15%" style="text-align:center")  
        a(href="/check/s/3/5/#{data.word}")  Address
      th(width="15%" style="text-align:center")  
        a(href="/check/s/4/5/#{data.word}")  State
      th(width="15%" style="text-align:center")  
        a(href="/check/s/5/5/#{data.word}")  Total
      th(width="7%")
    each item in data.del
        tr
          td(style="text-align:center")  #{item.date}
          td(style="text-align:left")  #{item.first_name + " " + item.last_name}
          td(style="text-align:left")  #{item.address}
          td(style="text-align:center")  #{item.state}
          td(style="text-align:right")  $#{item.tot}
          td(style="text-align:center") 
              button(onclick="location.href = '/check/#{item.id}';") see
  
script.
  //make link with black bg
  $('#nav-pur').addClass('page');
  $('#submenu-all').addClass('page');

  function changeDisplayedData(option){
    $("#submenu a").removeClass("page");
    switch(option){ //TODO reuse code
      case 1:
        $('#submenu-all').addClass("page");
        $('.allpurch').show();
        $('.evrdtot').hide();
        $('.await').hide();
        $('.being').hide();
        $('.del').hide();
        break;
      case 2:
        $('#submenu-daytot').addClass("page");
        $('.allpurch').hide();
        $('.evrdtot').show();
        $('.await').hide();
        $('.being').hide();
        $('.del').hide();
        break;
      case 3:
        $('#submenu-await').addClass("page");
        $('.allpurch').hide();
        $('.evrdtot').hide();
        $('.await').show();
        $('.being').hide();
        $('.del').hide();
        break;
      case 4:
        $('#submenu-being').addClass("page");
        $('.allpurch').hide();
        $('.evrdtot').hide();
        $('.await').hide();
        $('.being').show();
        $('.del').hide();
        break;
      case 5:
        $('#submenu-del').addClass("page");
        $('.allpurch').hide();
        $('.evrdtot').hide();
        $('.await').hide();
        $('.being').hide();
        $('.del').show();
        break;
    }
  }
  
  changeDisplayedData(#{data.opt});
