doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
    script(type='text/javascript' src="/js/notify.min.js")

  body
    block content
  include ./navbar.jade
table(style='width:45%')
  tr
    th(align="left") №
    th(align="left") 
      a(id="name-row" href="?s=1") Product
    th(align="right") 
      a(id="price-row" href="?s=2") Price
    th(align="right")
      a(id="quantity-row" href="?s=3") Quantity in stock
  each item in data.prods
      tr
        td #{item.number}
        td
          a(onclick="showDescr('#{item.description}')", href='#') #{item.name}
        td(align="right") $#{item.price}
        td(align="right") #{item.quantity}
        if data.isLoggedIn && !data.isAdmin
          td(style='width: 10px')
            input(id="input-#{item.id}" type='text', placeholder='quant.', style='width: 50px', onkeyup="changeQuantity('#{item.id}', '#{item.quantity}')" ) 
          td
            button(onclick="add('#{item.id}')") add
        if data.isAdmin
          td
            button(onclick="location.href = '/edit/#{item.id}';") edit
          td
            button(onclick="location.href = '/delete/#{item.id}';") delete
script.
  //notify options
  let options = {
  // whether to hide the notification on click
  clickToHide: true,
  // whether to auto-hide the notification
  autoHide: true,
  // if autoHide, hide after milliseconds
  autoHideDelay: 5000,
  // show the arrow pointing at the element
  arrowShow: true,
  // arrow size in pixels
  arrowSize: 5,
  // position defines the notification position though uses the defaults below
  position: 'bottom right',
  // default style
  style: 'bootstrap',
  // default class (string or [string])
  className: 'success',
  // show animation
  showAnimation: 'slideDown',
  // show animation duration
  showDuration: 400,
  // hide animation
  hideAnimation: 'slideUp',
  // hide animation duration
  hideDuration: 200,
  // padding between element and notification
  gap: 2
  }
  //make link with black bg
  $('#nav-home').addClass('page');
  $('#nav-home').text('Back');

  //sorting
  function sortByQuantity(){
    console.log(data.prods);
  }

  //changes quantity to max allowed
  function changeQuantity(id, max){
    let quantityBox = $('#input-' + id);
    let value = quantityBox.val();
    if(Number(value)>max){
      quantityBox.val(max);
    }
  }

  function add(id){
    let box = $('#input-' + id);
    let textBoxValue = box.val();
    box.val("");
    if(isNumber(textBoxValue) && isWholeNumber(textBoxValue) && Number(textBoxValue)>0){
      $.post('/addtocart', {id: id, quant: textBoxValue});
      $('#navbar').notify('Product added to cart', options);
    }
  }
  
  function showDescr(descr){
    alert(descr);
  }
  function isNumber(n) {
    return !isNaN(parseFloat(n)) && isFinite(n);
  }
  function isWholeNumber(n){
    var result = (n - Math.floor(n)) !== 0; 
    if (result)
    return false;
    else
    return true;
  }
