doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(type='text/javascript' src="/js/jquery.min.js")
    script(type='text/javascript' src="/js/notify.min.js")
  body
    block content
  include ./navbar.jade

div(onload='showNotific()')
  table(style='width:50%' id='maint')
    tr
      th(width="27%") Date
      th(width="20%") State 
      th(width="33%", style="text-align:left") &nbsp;&nbsp;Product&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quantity&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price
    each item in data.purchases
        tr
          td(style="text-align:center") #{item.date}
          td(style="text-align:center") #{item.state}
          td
            table(style='width:100%' id='maint')
              each order in item.orderList
                tr
                  td(style='width:33%') #{order.name}
                  td(style="text-align:center; width:33%") #{order.quantity}
                  td(style='width:33%' align="right") #{order.price}
              tr
                  td
                    strong Total
                  td
                  td(align="right")
                    strong #{item.total}
script.
  //make link with black bg
  $('#nav-orders').addClass('page');

if data.sp
  script.
    $(document).ready(function(){ 
      console.log('qweqweqwss');
        //notify options
        let options = {
          // whether to hide the notification on click
          clickToHide: true,
          // whether to auto-hide the notification
          autoHide: false,
          // if autoHide, hide after milliseconds
          autoHideDelay: 5000,
          // show the arrow pointing at the element
          arrowShow: true,
          // arrow size in pixels
          arrowSize: 5,
          // position defines the notification position though uses the defaults below
          position: 'bottom right',
          // default style
          style: 'bootstrap',
          // default class (string or [string])
          className: 'success',
          // show animation
          showAnimation: 'slideDown',
          // show animation duration
          showDuration: 400,
          // hide animation
          hideAnimation: 'slideUp',
          // hide animation duration
          hideDuration: 200,
          // padding between element and notification
          gap: 0
        }
        $('#navbar').notify('Purchase is successful', options);  
    }) 
    