doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/table.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
  include ./navbar.jade
div
  table(style='width:60%' id='maint')
    tr
      th(width="5%") №
      th(width="40%") Products
      th(width="20%") State
      th(width="20%") Date
    each item in data.purchases
        tr
          td(style="text-align:center") #{item.number}
          td
            table(style='width:100%' id='offt')
              tr
                th(style="text-align:center") Product
                th(style="text-align:center") Quantity
                th(style="text-align:center") Price
              each order in item.orderList
                tr
                  td #{order.name}
                  td(style="text-align:center") #{order.quantity}
                  td(align="right") #{order.price}
              tr
                  td
                    strong Total
                  td
                  td(align="right")
                    strong #{item.total}
          td(style="text-align:center") #{item.state}
          td(style="text-align:center") #{item.date}
script.
  //make link with black bg
  $('#nav-orders').addClass('page');