doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/form.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    script(type='text/javascript' src="/js/jquery.min.js")
  body
    block content
      include ./navbar.jade
      div
        form.form(method='post')
          label First Name :
          input#fname(type='text', name='fname' value='#{data.p[0].fn}')
          label Last Name :
          input#lname(type='text', name='lname' value='#{data.p[0].ln}')
          label Address :
          input#address(type='text', name='address' value='#{data.p[0].address}')
          label Phone :
          input#phone(type='text', name='phone' value='#{data.p[0].ph}')
          if data.f == 1
            label(style='color:red') First and Last name must be between 3 and 20 letters
          input#save(type='submit', name='saveBtn', value='Save')
        input(id="chPass" type='submit', name='chpassBtn', value='Change Password' onclick="location.href = '/chpass'")

script.
  //make link with black bg
  $('#nav-prof').addClass('page');