<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <nav class="navbar navbar-default navbar-static-top">
      <ul class="nav navbar-nav">
        <li class="{{is_active item "search"}}"><a href="/">Search</a></li>
        <li class="{{is_active item "subscribe"}}"><a href="subscribe">Subscribe</a></li>
        <li class="{{is_active item "unsubscribe"}}"><a href="unsubscribe">Unsubscribe</a></li>
        <li class="{{is_active item "login"}}"><a href="login">Log in</a></li>
        <li class="{{is_active item "register"}}"><a href="register">Register</a></li>
        <li class="{{is_active item "profile"}}"><a href="profile">Profile</a></li>
      </ul>
    </nav>
  </div>
</div>