<html>
  <head>
    <title>Data for <%= settlement.name %></title>
  </head>
  <body>
    <div>
      <a href="/">Back</a><br>
      <div id="settlement-info">
        <label>Name: </label><%= settlement.name %><br>
        <label>Category: </label><%= settlement.category %><br>
        <label>Kind: </label><%= settlement.kind %><br>
        <label>Altitude: </label><%= settlement.altitude_code %><br>
        <label>Document: </label><%= settlement.document %><br>
      </div>
    </div>
  </body>
</html>