<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./../sidebar.css">
    <link rel="stylesheet" type="text/css" href="./../navbar.css">
    <link rel="stylesheet" type="text/css" href="./../loading.css">
    <script type="text/javascript" src="./../utils.js"></script>
  </head>
   <body>
    {{> navBar }}
    {{> adminMenu }}
    <ul class="list-group-item col-lg-10">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Users</h2>
      <form id="form" class="inline">
        <input type="text" name="search" hidden="hidden" value="1">
        <div style="height: 23em"> <!-- testing -->
          <br>
          <label class="col-lg-12">Username:</label>
          <div class="col-lg-12">
            <input id="username" type="text" name="username" class="form-control" value="{{username}}">
          </div>
          <label class="col-lg-12">Date From/To:</label>
          <div class="col-lg-6">
            <input id="dateFrom" type="date" name="date-from" class="form-control" value="{{dateFrom}}">
          </div>
          <div class="col-lg-6">
            <input id="dateTo" type="date" name="date-to" class="form-control" value="{{dateTo}}">
          </div>
            <label class="col-lg-12">Email:</label>
          <div class="col-lg-12">
            <input id="email" type="text" name="email" class="form-control" value="{{email}}">
          </div>
          <label class="col-lg-12">Credits From/To:</label>
          <div class="col-lg-6">
            <input id="creditsFrom" type="text" name="credits-from" class="form-control" value="{{creditsFrom}}">
          </div>
          <div class="col-lg-6">
            <input id="creditsTo" type="text" name="credits-to" class="form-control" value="{{creditsTo}}">
          </div>
        </div>
        <div>
          <div class="col-lg-6">
            <button id="export-btn" class='form-control btn-info' onclick="exportToExcel(event,
            {
              username: document.getElementById('username').value,
              dateFrom: document.getElementById('dateFrom').value,
              dateTo: document.getElementById('dateTo').value,
              email: document.getElementById('email').value,
              creditsFrom: document.getElementById('creditsFrom').value,
              creditsTo: document.getElementById('creditsTo').value
            }, 'users')">Export</button>
          </div>
          <div class="col-lg-6">
            <input type="submit" id="search-btn" value="Search" class='form-control btn-success'>
          </div>
        </div>
      </form>
    </ul>
    <div id="loading-animation" hidden="hidden"></div>
    {{#if search}}
      {{#if show}}
        <h3 id="report-text" class="col-lg-10 text-center">Report</h3>
        <div id="table-container" class="col-lg-10 pre-scrollable" style="max-height: 29em; height: 29em">
          <table id="users-table" class="table table-hover table-bordered">
            <tr>
              <th>ID</th>
              <th>Date Registered</th>
              <th>User</th>
              <th>Email</th>
              <th>Successful Requests</th>
              <th>Failed Requests</th>
              <th>Credits</th>
            </tr>
            {{#each users}}
              <tr class="gen-tr">
                <td class="text-right">{{id}}</td>
                <td>{{date_registered}}</td>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td class="text-right">{{successful_requests}}</td>
                <td class="text-right">{{failed_requests}}</td>
                <td>{{credits}}</td>
              </tr>
            {{/each}}
          </table>
        </div>
      {{else}}
        <h1 class="col-lg-10 text-center"></h1>
        <div class="text-center">
          <p>Too Many Results ({{resultCount}}) please check your filters. <a href="/admin/users?username={{username}}&date-from={{dateFrom}}&date-to={{dateTo}}&email={{email}}&credits-from={{creditsFrom}}&credits-to={{creditsTo}}&search=1&show=1"> display anyway </a></p>
        </div>
      {{/if}}
    {{/if}}
  </body>
</html>

<script type="text/javascript">
  if ('{{err}}') {
    document.getElementById('navbar-msg').className += ' text-danger';
    document.getElementById('navbar-msg').innerHTML = '{{err.msg}}';
    if ('{{err.code}}' === '1') {
      document.getElementById('dateFrom').setAttribute('style', 'border-color: red');
      document.getElementById('dateTo').setAttribute('style', 'border-color: red');
    } else if ('{{err.code}}' === '2') {
      document.getElementById('username').setAttribute('style', 'border-color: red');
    }
  }

  document.getElementById('menu-users').setAttribute('class', 'selected');

  document.getElementById('search-btn').addEventListener('click', (event) => {
    document.getElementById('loading-animation').removeAttribute('hidden');
    document.getElementById('search-btn').setAttribute('disabled', 'disabled');
    document.getElementById('form').submit();
    document.getElementById('table-container').setAttribute('hidden', 'hidden');
    document.getElementById('report-text').setAttribute('hidden', 'hidden');
  });
</script>