<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./../sidebar.css">
    <link rel="stylesheet" type="text/css" href="./../navbar.css">
    <script type="text/javascript" src="./../utils.js"></script>
  </head>
   <body>
    {{> navBar }}
    {{> adminMenu }}
    <ul class="list-group-item col-lg-10">
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Backoffice Users</h2>
      <form class="inline">
        <div style="height: 23em"> <!-- testing -->
          <br>
          <label class="col-lg-12">Username:</label>
          <div class="col-lg-12">
            <input type="text" name="username" class="form-control" value="{{username}}">
          </div>
          <label class="col-lg-12">Date From/To:</label>
          <div class="col-lg-6">
            <input type="date" name="date-from" class="form-control" value="{{dateFrom}}">
          </div>
          <div class="col-lg-6">
            <input type="date" name="date-to" class="form-control" value="{{dateTo}}">
          </div>
            <label class="col-lg-12">Email:</label>
          <div class="col-lg-12">
            <input type="text" name="email" class="form-control" value="{{email}}">
          </div>
          <label class="col-lg-12">Credits From/To:</label>
          <div class="col-lg-6">
            <input type="text" name="credits-from" class="form-control" value="{{creditsFrom}}">
          </div>
          <div class="col-lg-6">
            <input type="text" name="credits-to" class="form-control" value="{{creditsTo}}">
          </div>
        </div>
        <div>
          <div class="col-lg-6">
            <button id="export-btn" class='form-control btn-info' onclick="exportToExcel(event, 'users-table', 'users', ['Username', 'Date From/To', 'Email', 'Credits From/To'], ['{{username}}', '{{dateFrom}} - {{dateTo}}', '{{email}}', '{{creditsFrom}} - {{creditsTo}}'])">Export</button>
          </div>
          <div class="col-lg-6">
            <input type="submit" id="search-btn" value="Search" class='form-control btn-success'>
          </div>
        </div>
      </form>
    </ul>
    <h3 class="col-lg-10 text-center">Report</h3>
    <div id="table-container" class="col-lg-10 pre-scrollable" style="max-height: 31em; height: 31em">
      <table id="users-table" class="table table-hover table-bordered">
        <tr>
          <th>ID</th>
          <th>Date Registered</th>
          <th>User</th>
          <th>Email</th>
          <th>Successful Requests</th>
          <th>Failed Requests</th>
          <th>Credits</th>
        </tr>
        {{#each users}}
          <tr class="gen-tr">
            <td class="text-right">{{id}}</td>
            <td>{{date_registered}}</td>
            <td>{{username}}</td>
            <td>{{email}}</td>
            <td class="text-right">{{successful_requests}}</td>
            <td class="text-right">{{failed_requests}}</td>
            <td>{{credits}}</td>
          </tr>
        {{/each}}
      </table>
    </div>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('menu-users').setAttribute('class', 'selected');

  async function addCredits (username) {
    const credits = prompt(`add credits to user ${username}`);
    if (!Number(credits)) return;
    const response = await fetch('/admin/addCreditsToUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username,
        credits
      })
    });
    const data = await response.json();
    console.log(data);
    creditBox = document.getElementById(`credits-${username}`);
    creditBox.value = parseInt(creditBox.value) + parseInt(credits);
  }
</script>