<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./../sidebar.css">
    <link rel="stylesheet" type="text/css" href="./../navbar.css">
    <link rel="stylesheet" type="text/css" href="./../modal.css">

    <script src="./../jquery.min.js"></script>
    <script src="./../bootstrap.min.js"></script>
  </head>
   <body>
    <div class="modal fade" id="modale-roles" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h3 id="modal-text" class="text-center"></h3>
          </div>
          <div class="modal-footer">
            <form method="POST">
              <input id="modal-user" type="text" name="username" hidden="hidden">
              {{#each roles}}
                <input type="checkbox" name="{{role}}" value="{{role}}" id="chbox-{{role}}" class="modal-chbox">
                <label for="chbox-{{role}}" class="col-lg-offset-1 col-lg-10 btn-danger modal-chbox-label text-center">{{role}}</label>
              {{/each}}

              <input type="submit" value="Save Changes" class="btn-info col-lg-offset-3 col-lg-6">
            </form>
          </div>
        </div>
      </div>
    </div>

    {{> navBar }}
    {{> adminMenu }}
    <ul class="list-group-item col-lg-9">
      <form class="inline">
        <div style="height: 20.8em">
          <label class="col-lg-12">Username:</label>
          <div class="col-lg-12">
            <input type="text" name="username" class="form-control" value="{{username}}">
          </div>
        </div>
        <div>
          <div class="col-lg-12">
            <input type="submit" id="search-btn" value="Search" class='form-control btn-success'>
          </div>
        </div>
      </form>
      <p class="text-success" id="succ-msg">{{msg}}</p>
      <p class="text-danger" id="err-msg">{{err}}</p>
    </ul>
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Backoffice Users</h2>

    <table id="users-table" class="table table-hover table-bordered">
      <tr>
        <th>User</th>
        {{#if permissions.can_edit_backoffice_users}}
          <th>Edit Roles</th>
        {{/if}}
      </tr>
      {{#each users}}
        <tr class="gen-tr">
          <td>{{username}}</td>
          {{#if ../permissions.can_edit_backoffice_users}}
          {{else}}
            <td>{{role}}</td>
          {{/if}}
          {{#if ../permissions.can_edit_backoffice_users}}
            <td>
              <button class="form-control btn-info" data-toggle="modal" data-target="#modale-roles" onclick="setModal('{{username}}')">Edit Roles</button>
            </td>
          {{/if}}
        </tr>
      {{/each}}
    </table>
    <nav aria-label="Page navigation example" class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/admin/backoffice-users?page={{prevPage}}&term={{term}}">Previous Page</a></li>
        <li class="page-item"><a class="page-link" href="/admin/backoffice-users?page={{nextPage}}&term={{term}}">Next Page</a></li>
      </ul>
    </nav>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('menu-backoffice-users').setAttribute('class', 'selected');

  async function setModal (username) {
    document.getElementById('modal-text').innerHTML = `Changing ${username}'s roles`;
    document.getElementById('modal-user').value = username;

    const response = await fetch('get-user-roles', {
      headers: {
        "Content-Type": "application/json"
      },
      method : "POST",
      body: JSON.stringify({ username })
    });
    const data = await response.json();

    for (const cb of document.getElementsByClassName(`modal-chbox`)) {
      cb.checked = false;
    }

    for (const r of data.roles) {
      document.getElementById(`chbox-${r.role}`).checked = true;
    }
  }
</script>