<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
  </head>
   <body>
    {{> adminForm }}
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Cities</h2>
    <table id="users-table" class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Country Code</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Observed at</th>
      </tr>
      {{#each cities}}
        <tr class="gen-tr">
          <td>{{id}}</td>
          <td>{{name}}</td>
          <td>{{country_code}}</td>
          <td>{{lng}}</td>
          <td>{{lat}}</td>
          <td>{{observed_at}}</td>
        </tr>
      {{/each}}
    </table>
    <nav aria-label="Page navigation example" class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/admin/cities?page={{prevPage}}&term={{term}}">Previous Page</a></li>
        <li class="page-item"><a class="page-link" href="/admin/cities?page={{nextPage}}&term={{term}}">Next Page</a></li>
      </ul>
    </nav>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('select-cities').setAttribute('selected', 'selected');
</script>