<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
  </head>
   <body>
    <ul class="list-group-item col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <form class="inline">
        <select id="report-select" class="form-control" onchange="location.href = this.value">
          <option value="/admin" selected="true">Select Report</option>
          <option id="select-users" value="/admin/users">Users</option>
          <option id="select-ctransfers" value="/admin/ctransfers">Credit Transfers</option>
          <option id="select-cities" value="/admin/cities">Cities</option>
          <option id="select-requests" value="/admin/requests">Requests</option>
          <option id="select-cbalance" value="/admin/credits">Credit Balance</option>
          <option id="select-approve" value="/admin/approve">Approve Transfers</option>
        </select>
        <br>
        <label>Username:</label>
        <input type="text" name="username" class="form-control" value="{{username}}">
        <label>Date From:</label>
        <input type="date" name="date-from" class="form-control" value="{{dateFrom}}">
        <label>Date To:</label>
        <input type="date" name="date-to" class="form-control" value="{{dateTo}}">
        <label>Email:</label>
        <input type="text" name="email" class="form-control" value="{{email}}">
        <label>Credits From:</label>
        <input type="text" name="credits-from" class="form-control" value="{{creditsFrom}}">
        <label>Credits To:</label>
        <input type="text" name="credits-to" class="form-control" value="{{creditsTo}}">
        <br>
        <input type="submit" id="search-btn" value="Search" class='btn btn-default pull-right'>
      </form>
    </ul>
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Registered Users</h2>
    <table id="users-table" class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Date Registered</th>
        <th>User</th>
        <th>Email</th>
        <th>Successful Requests</th>
        <th>Failed Requests</th>
        <th>Credits</th>
      </tr>
      {{#each users}}
        <tr class="gen-tr">
          <td>{{id}}</td>
          <td>{{date_registered}}</td>
          <td>{{username}}</td>
          <td>{{email}}</td>
          <td>{{successful_requests}}</td>
          <td>{{failed_requests}}</td>
          <td><input id="credits-{{username}}" type="text" value="{{credits}}" disabled="true" style="text-align: right"><a href="#" id="add-credits-sign-{{id}}" onclick='addCredits("{{username}}")'> +</a></td>
        </tr>
      {{/each}}
    </table>
    <nav aria-label="Page navigation example" class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/admin/users?page={{prevPage}}&term={{term}}">Previous Page</a></li>
        <li class="page-item"><a class="page-link" href="/admin/users?page={{nextPage}}&term={{term}}">Next Page</a></li>
      </ul>
    </nav>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('select-users').setAttribute('selected', 'selected');
  async function addCredits (username) {
    const credits = prompt(`add credits to user ${username}`);
    console.log(typeof credits);
    if (!Number(credits)) return;
    const response = await fetch('/addCreditsToUser', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        username,
        credits
      })
    });
    const data = await response.json();
    console.log(data);
    creditBox = document.getElementById(`credits-${username}`);
    creditBox.value = parseInt(creditBox.value) + parseInt(credits);
  }
</script>