<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
  </head>
   <body>
    {{> adminForm }}
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Registered Users</h2>
    <table id="users-table" class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Date Registered</th>
        <th>User</th>
        <th>Email</th>
        <th>Successful Requests</th>
        <th>Failed Requests</th>
        <th>Credits</th>
      </tr>
      {{#each users}}
        <tr class="gen-tr">
          <td>{{id}}</td>
          <td>{{date_registered}}</td>
          <td>{{username}}</td>
          <td>{{email}}</td>
          <td>{{successful_requests}}</td>
          <td>{{failed_requests}}</td>
          <td><input id="credits-{{username}}" type="text" value="{{credits}}" disabled="true" style="text-align: right"><a href="#" id="add-credits-sign-{{id}}" onclick='addCredits("{{username}}")'> +</a></td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>

<script type="text/javascript">
  async function addCredits (username) {
    const credits = prompt(`add credits to user ${username}`);
    console.log(typeof credits);
    if (!Number(credits)) return;
    await fetch('/addCreditsToUser', {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({
        username,
        credits
      })
    });
    creditBox = document.getElementById(`credits-${username}`);
    creditBox.value = parseInt(creditBox.value) + parseInt(credits);
  }
</script>