<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="./../bootstrap.css">
  </head>
   <body>
    <ul class="list-group-item col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4 col-lg-4 col-md-4 col-sm-4 col-xs-4">
      <form class="inline">
        {{> adminForm }}
        <br>
        <label>Username:</label>
        <input type="text" name="username" class="form-control" value="{{username}}">
        <label>Date From:</label>
        <input type="date" name="date-from" class="form-control" value="{{dateFrom}}">
        <label>Date To:</label>
        <input type="date" name="date-to" class="form-control" value="{{dateTo}}">
        <label>Event:</label>
        <select id="select-event" name="event" class="form-control">
          <option value="">All</option>
          <option value="Successful Request">Successful Request</option>
          <option value="Failed Request">Failed Request</option>
          <option value="Credit Purchase">Credit Purchase</option>
          <option value="Credits given by admin">Credits given by admin</option>
        </select>
        <br>
        <input type="submit" id="search-btn" value="Search" class='btn btn-default pull-right'>
      </form>
    </ul>
    <h2 class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">Credit Transfers</h2>
    <table id="users-table" class="table table-hover">
      <tr>
        <th>ID</th>
        <th>Transfer Date</th>
        <th>User</th>
        <th>Event</th>
        <th>Credits Received</th>
        <th>Credits Spent</th>
      </tr>
      {{#each transfers}}
        <tr class="gen-tr">
          <td class="text-right">{{id}}</td>
          <td>{{transfer_date}}</td>
          <td>{{username}}</td>
          <td>{{event}}</td>
          <td class="text-right">{{credits_received}}</td>
          <td class="text-right">{{credits_spent}}</td>
        </tr>
      {{/each}}
      <tr>
        <td class="text-right"><strong>Total</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-right"><strong>{{total.total_received}}</strong></td>
        <td class="text-right"><strong>{{total.total_spent}}</strong></td>
      </tr>
    </table>
    <nav aria-label="Page navigation example" class="col-lg-offset-5 col-md-offset-5 col-sm-offset-5 col-xs-offset-5">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/admin/ctransfers?page={{prevPage}}&username={{username}}&date-from={{dateFrom}}&date-to={{dateTo}}&event={{event}}">Previous Page</a></li>
        <li class="page-item"><a class="page-link" href="/admin/ctransfers?page={{nextPage}}&username={{username}}&date-from={{dateFrom}}&date-to={{dateTo}}&event={{event}}">Next Page</a></li>
      </ul>
    </nav>
  </body>
</html>

<script type="text/javascript">
  document.getElementById('select-ctransfers').setAttribute('selected', 'selected');
  document.getElementById('select-event').value = '{{event}}';
</script>